In [16]:
import pandas as pd
from sklearn.cluster import KMeans 
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder

import pandas as pd
import numpy as np

df = pd.read_csv('marketing_campaign.csv', sep=',')
df.head()

,ID,\tYear_Birth,\tEducation,\tMarital_Status,\tIncome,\tZ_Revenue,\tResponse
0,5524,1957,\tGraduation,\tSingle,\t58138,\t0,NaN
1,2174,1954,\tGraduation,\tSingle,\t46344,\t0,NaN
2,4141,1965,\tGraduation,\tTogether,\t71613,\t0,NaN
3,6182,1984,\tGraduation,\tTogether,\t26646,\t1,NaN
4,5324,1981,\tPhD,\tMarried,\t58293,\t1\t0,NaN

In [33]:
year = LabelEncoder()
income = LabelEncoder()
# Features
le_year = year.fit_transform(df['\tYear_Birth'])
le_income = income.fit_transform(df['\tIncome'])

km = KMeans(n_clusters=2)

In [37]:
y_predicted = km.fit_predict([le_year, le_income])
print(y_predicted)
print(km.cluster_centers_)

[0 1]
[[ 5.  3.  9. 19. 17. 10. 13. 20. 15.  1. 18. 16.  7.  2.  6.  2.  0.  8.
  21.  3.  9. 14. 11. 12.  4.]
 [13.  8. 22.  3. 14. 19. 11.  5.  4. 12.  0. 24. 20. 15.  7.  1. 10. 18.
   6. 21. 16. 23.  2. 17.  9.]]